@use "../../../../sass/DisplayFlex";
.write {
  padding: var(--primary-padding);
  a {
    @extend %DisplayFlex;
    justify-content: left;
    color: var(--black-color);
  }
  p {
    padding: 0 0.5rem;
    font-size: var(--primary-font);
  }
  .icon {
    font-size: 1.1rem;
  }
}
@media (min-width: 650px) {
  .write {
    a {
      color: var(--secondary-color);
    }
  }
}
