.form .form_controls {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
  gap: 0.5rem;
}
.form .form_controls .form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}
.form .form_controls .form_control p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.form .form_controls .form_control p a {
  color: var(--link-color);
  vertical-align: bottom;
}
.form .form_controls .form_control span {
  font-size: 14px;
  text-align: right;
}
.form .form_controls .form_control label {
  font-size: 18px;
  font-weight: bold;
  color: var(--label-color);
}
.form .form_controls .form_control input,
.form .form_controls .form_control textarea {
  border: none;
  color: var(--label-color);
  width: 100%;
  padding: 0.6rem 0.5rem;
  transition: all 0.3s;
  font-size: 0.9rem;
  background-color: var(--form-background-color);
  outline: 2px solid var(--form-border-color);
  border-radius: 5px;
  resize: vertical;
  margin: 0.5rem 0;
}
.form .form_controls .form_control textarea {
  line-height: 1.5rem;
}
.form .form_controls .form_control input:focus,
.form .form_controls .form_control textarea:focus {
  background-color: var(--form-background-color);
  outline: 2px solid var(--primary-color);
}
.form .form_actions {
  padding: 1rem 0;
}
.form .form_actions p {
  font-size: 0.9rem;
  padding: 0.4rem 0;
}
.form .form_actions p a {
  font-size: 0.9rem;
  padding: 0.2rem 0;
  color: var(--link-color);
}
.form .form_actions .update_profile {
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 0.5rem 0.6rem;
  margin: 0.5rem 0;
  color: var(--white-color);
}
.form .form_actions .update_profile:disabled {
  cursor: not-allowed;
}
.form .error {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 1rem 0.5rem;
}
.form .error h4 {
  color: red;
}
.form .error ul {
  padding: 1rem 0;
}
.form .error li {
  list-style: circle;
  margin-left: 2rem;
}

@media (min-width: 800px) {
  .form .form_controls .form_control {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .form .form_controls .form_control {
    width: 50%;
  }
}