.form {
  .form_controls {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    gap: 0.5rem;
    .form_control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0.5rem;

      p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        a {
          color: var(--link-color);
          vertical-align: bottom;
        }
      }
      span {
        font-size: 14px;
        text-align: right;
      }
      label {
        font-size: 18px;
        font-weight: bold;
        color: var(--label-color);
      }
      input,
      textarea {
        border: none;
        color: var(--label-color);
        width: 100%;
        padding: 0.6rem 0.5rem;
        transition: all 0.3s;
        font-size: 0.9rem;
        // outline: 2px solid var(--form-border-color);
        background-color: var(--form-background-color);
        outline: 2px solid var(--form-border-color);
        border-radius: 5px;
        resize: vertical;
        margin: 0.5rem 0;
      }
      textarea {
        line-height: 1.5rem;
      }
      input:focus,
      textarea:focus {
        background-color: var(--form-background-color);
        outline: 2px solid var(--primary-color);
        // caret-color: var(--nav-text-hover-color);
      }
    }
  }
  .form_actions {
    padding: 1rem 0;
    p {
      font-size: 0.9rem;
      padding: 0.4rem 0;
      a {
        font-size: 0.9rem;
        padding: 0.2rem 0;
        color: var(--link-color);
      }
    }

    .update_profile {
      cursor: pointer;
      background-color: var(--primary-color);
      padding: 0.5rem 0.6rem;
      margin: 0.5rem 0;
      color: var(--white-color);
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
@media (min-width: 800px) {
  .form .form_controls .form_control {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .form .form_controls .form_control {
    width: 50%;
  }
}
