.form .form_controls {
  display: flex;
  flex-direction: column;
  /* padding: 1rem 0; */
}

.form .form_controls .form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}

.form .form_controls .form_control label {
  padding: 0.5rem 0;
  font-weight: bold;
}

.form .form_controls .form_control input,
.form .form_controls .form_control textarea {
  width: 100%;
  padding: 0.4rem 0.5rem;
  border: 2px solid rgba(48, 155, 101, 0.2);
  transition: all 0.3s;
  font-size: 0.9rem;
  outline: 2px solid transparent;
  background-color: rgba(48, 155, 101, 0.1);
  border-radius: 5px;
  resize: vertical;
}
.form .form_controls .form_control textarea {
  line-height: 1.5rem;
}
.form .form_controls .form_control input:focus,
.form .form_controls .form_control textarea:focus {
  border: 2px solid var(--nav-text-hover-color);
  caret-color: var(--nav-text-hover-color);
  background-color: var(--body-color);
}

.form .form_controls .form_control p,
.form .form_controls .form_control span {
  font-size: 0.9rem;
  padding: 0.2rem 0;
}
.form .form_controls .form_control span {
  text-align: right;
}
.form .form_actions {
  padding: 1rem 0;
}
.form .form_actions .update_profile {
  cursor: pointer;
  background-color: var(--nav-text-hover-color);
  color: var(--body-color);
  padding: 0.5rem 0.6rem;
  margin: 0.5rem 0;
}
.form .form_actions .update_profile:disabled {
  cursor: not-allowed;
}
.form .form_actions p {
  font-size: 0.9rem;
  padding: 0.4rem 0;
}

.form .form_controls .form_control p a,
.form .form_actions p a {
  color: blue;
}

.form .error {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 1rem 0.5rem;
}

.form .error h4 {
  color: red;
}
.form .error ul {
  padding: 1rem 0;
}

.form .error li {
  list-style: circle;
  margin-left: 2rem;
}

/* My name is omosuyi olawole adewole and i am a 400 level student of the federal univeristy of technology akure. My hobbies are programming and  */
