.setting_navigation-links {
  margin: 2rem 0;
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin: 0.2rem 0;
      a {
        cursor: pointer;
        color: var(--tertiary-color);
        display: flex;
        align-items: center;
        padding: 0.5rem 0.5rem;
        border-radius: 0.3rem;
        width: 100%;

        span {
          padding: 0 0.5rem;
        }
        &.active {
          color: var(--white-color);
          font-weight: bold;
          background-color: var(--primary-color);
        }
      }
    }
    .link_section {
      margin: 1rem 0;
    }
    .link_header {
      padding: 0rem 0.5rem;
      font-weight: normal;
      color: var(--tertiary-color);
    }
  }
}

@media (min-width: 500px) {
  .setting_navigation-links ul li a {
    &:hover {
      background-color: var(--primary-hover-color);
    }
    &.active {
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
