.setting_navigation-links {
  margin: 2rem 0;
  font-family: var(--primary-font);
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin: 0.2rem 0;
      a {
        cursor: pointer;
        color: var(--nav-text-color);
        display: flex;
        align-items: center;
        padding: 0.5rem 0.5rem;
        transition: all 0.4s ease;
        border-radius: 0.3rem;
        span {
          padding: 0 0.5rem;
        }
        &.active {
          color: var(--body-color);
          font-weight: bold;
          background-color: var(--nav-text-hover-color);
        }
      }
    }
    .link_section {
      margin: 1rem 0;
    }
    .link_header {
      padding: 0rem 0.5rem;
      font-weight: normal;
      color: var(--profile-color);
    }
  }
}

@media (min-width: 500px) {
  .setting_navigation-links ul li a:hover {
    color: var(--body-color);
    transition: all 0.4s ease;
    background-color: var(--nav-text-hover-color);
    opacity: 0.6;
  }
}
