@use "../../../sass/_DisplayFlex";
// http://localhost:3000/:_id/reset_password/:token//TODO remove this
.auth {
  background-color: var(--body-color);
  font-size: var(--primary-font-size);
  a {
    text-decoration: none;
    transition: all 2s ease;
    color: var(--primary-color);
  }
  h1 {
    font-size: var(--heading-font-size);
    font-weight: normal;
    padding: 0.5rem 0;
    color: var(--primary-color);
    text-align: center;
    margin: 0.5rem 0;
  }
  h3,
  .username {
    text-align: center;
    color: var(--tertiary-color);
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--tertiary-color);
  }
  a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .username {
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
  }
  .mobile_cancel_icon {
    width: 100%;
    text-align: right;
    .icon {
      cursor: pointer;
      color: var(--primary-color);
      font-size: 2rem;
    }
  }

  .reply {
    @extend %DisplayFlex;
    justify-content: space-around;
    border-radius: 0.4rem;
    padding: 0.5rem;
    width: 100%;
    opacity: 0.8;
    height: auto;
    &.success {
      color: var(--body-color);
      background-color: var(--primary-color);
    }
    &.error {
      background-color: var(--error-color);
    }
    p {
      width: 80%;
      overflow: hidden;
      color: var(--black-color);
    }
    .reply_icon {
      cursor: pointer;
      display: block;
      font-size: 1.4rem;
      width: 3rem;
    }
  }
  .form {
    width: 100%;
    background-color: var(--auth-form-color);

    border-radius: 10px;
    padding: var(--auth-form-padding);
    margin: 1rem 0;

    .form_control {
      @extend %DisplayFlex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0.5rem 0;
      label {
        padding: 0.5rem 0;
        font-size: 1rem;
        color: var(--tertiary-color);
      }
      .password_label {
        @extend %DisplayFlex;
        justify-content: space-between;
        width: 100%;
      }
      input {
        width: 100%;
        padding: var(--secondary-padding);
        border-radius: 3px;
        border: 1px solid transparent;
        transition: all 0.3s;
        font-size: 1rem;
        outline: 2px solid transparent;
        &:focus {
          border: 1px solid var(--primary-color);
        }
      }
      .input_container {
        position: relative;
        width: 100%;
        overflow: hidden;
        input {
          padding-right: 30px;
        }
        .password_icon {
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 10px;
          color: black;
          height: 1rem;
          margin-top: -0.5rem;
          font-size: 1rem;
        }
      }
    }
    .form_actions {
      margin: 2rem 0;
      p {
        padding-bottom: 0.5rem;
        width: 100%;
        text-align: center;
      }
      button {
        cursor: pointer;
        background-color: var(--primary-color);
        width: 100%;
        font-size: 0.9rem;
        padding: 0.6rem 0.5rem;
        color: var(--white-color);
        border-radius: 5px;
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          &:hover {
            opacity: 0.5;
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
  .form_footer {
    @extend %DisplayFlex;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid var(--auth-form-border-color);
    border-radius: 5px;
    width: 100%;
    p {
      padding: 0 0.5rem;
      text-align: center;
    }
  }
}

.reset_password,
.reset_password .auth .form .form_control .password_label {
  padding: 0.5rem 0;
  text-align: center;
}

.return_to_setting {
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;
  color: var(--body-color);
  border-radius: 5px;
  margin: 1rem 0;
}

@media (min-width: 500px) {
  .auth {
    .icon {
      display: none;
    }
    .form {
      .form_actions button:hover {
        background-color: var(--primary-hover-color);
      }
      .form_footer a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-height: 500px) and (min-width: 500px) {
  .auth {
    position: absolute;
    top: 50%;
    height: auto;
    transform: translateY(-50%);
  }
}
