.auth .reply, .auth .form .form_control, .auth .form .form_control .password_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.auth {
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
  font-size: var(--primary-font-size);
}
.auth a {
  text-decoration: none;
  transition: all 2s ease;
  color: var(--primary-color);
}
.auth h1 {
  font-size: var(--heading-font-size);
  font-weight: normal;
  padding: 0.5rem 0;
  color: var(--primary-color);
}
.auth .username {
  font-size: var(--primary-font-size);
  padding-bottom: 0.3rem;
  background-color: red;
}
.auth .icon {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 5%;
}
.auth .reply {
  box-shadow: none;
  justify-content: space-around;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  opacity: 0.8;
  overflow: hidden;
}
.auth .reply.success {
  color: var(--body-color);
  background-color: var(--primary-color);
}
.auth .reply.error {
  background-color: var(--error-color);
}
.auth .reply p {
  font-size: 1rem;
  width: 80%;
  overflow: hidden;
}
.auth .reply .reply_icon {
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  width: 3rem;
}
.auth .form {
  width: 100%;
  background-color: var(--auth-form-color);
  border: 1px solid var(--auth-form-border-color);
  border-radius: 10px;
  padding: var(--auth-form-padding);
  margin: 1rem 0;
}
.auth .form .form_control {
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5rem 0;
}
.auth .form .form_control label {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--tertiary-color);
}
.auth .form .form_control .password_label {
  justify-content: space-between;
  width: 100%;
}
.auth .form .form_control input {
  width: 100%;
  padding: var(--secondary-padding);
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s;
  font-size: 1rem;
  outline: 2px solid transparent;
}
.auth .form .form_control input:focus {
  border: 1px solid var(--primary-color);
}
.auth .form .form_control .input_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.auth .form .form_control .input_container input {
  padding-right: 30px;
}
.auth .form .form_control .input_container .password_icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  color: black;
  height: 1rem;
  margin-top: -0.5rem;
  font-size: 1rem;
}
.auth .form .form_actions {
  margin: 2rem 0;
}
.auth .form .form_actions p {
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: left;
}
.auth .form .form_actions button {
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;
  color: var(--body-color);
  border-radius: 5px;
}
.auth .form .form_actions button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.auth .form .form_actions button:disabled:hover {
  opacity: 0.5;
  background-color: var(--primary-color);
}
.auth .form_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0.5rem 0;
  border: 1px solid var(--auth-form-border-color);
  border-radius: 5px;
  width: 100%;
}
.auth .form_footer p {
  padding: 0 0.3rem;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.reset_password,
.reset_password .auth .form .form_control .password_label {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--tertiary-color);
}

.return_to_setting {
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;
  color: var(--body-color);
  border-radius: 5px;
  margin: 1rem 0;
}

@media (min-width: 500px) {
  .auth {
    height: 65vh;
    margin-top: -32.5vh;
    width: 25rem;
    margin-left: -12.5rem;
  }
  .auth .icon {
    display: none;
  }
  .auth .form {
    border: none;
  }
  .auth .form .form_actions button:hover {
    background-color: var(--primary-hover-color);
  }
  .auth .form .form_footer a:hover {
    text-decoration: underline;
  }
}