.setting_link_content {
  width: 100%;
  color: var(--tertiary-color);
  h2 {
    font-size: 24px;
    line-height: 36px;
    padding: 0.5rem 0;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    padding: 0.2rem 0;
    margin-bottom: 1rem;
  }
}
