.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settings {
  padding: 1rem 0;
  flex-direction: column;
}

@media (min-width: 700px) {
  .settings {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}