.setting_link_content {
  color: var(--tertiary-color);
}
.setting_link_content h2 {
  font-size: 24px;
  padding: 0.5rem 0;
}
.setting_link_content p {
  font-size: 14px;
  padding: 0.2rem 0;
  margin-bottom: 1rem;
}