/** Default profileBox configuration */
.profile_box {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  height: auto;
  .profilePicture_Username {
    height: 32px;
    width: 32px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .username-cut {
      font-size: 1.5rem;
      line-height: 1;
    }
    .profile_picture {
      background-color: var(--primary-color);
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .icon {
    font-size: 0.8rem;
    color: var(--secondary-color);
  }
  .profile_box_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .username {
      cursor: pointer;
      font-size: 1rem;
      color: var(--secondary-color);
    }
    .your_personal_account {
      font-size: 0.9rem;
      font-weight: normal;
      color: var(--secondary-color);
    }
  }
}
/*? ProfileBox configuration for Header Profile Section */

.Header__ProfileBox {
  // Remove the profile box from the header when the width is less than 500px
  display: none;
}
/*? ProfileBox configuration for Mobile Navigation */
.MobileNavigation__ProfileBox {
  display: flex;
  margin: 0.5rem 0;
}
/*? ProfileBox configuration for Profile */
.Profile__ProfileBox {
  cursor: default;
  position: absolute;
  top: -1.6rem;
  left: 5%;
  .profilePicture_Username {
    height: 70px;
    width: 70px;
    border: 6px solid var(--black-color);
    .username-cut {
      font-size: 2.3rem;
    }
  }
}
/*? ProfileBox configuration for Setting */
.Setting__ProfileBox {
  cursor: default;
  .profilePicture_Username {
    height: 45px;
    width: 45px;
    .username-cut {
      font-size: 2.3rem;
    }
  }
  .profile_box_text {
    .username {
      font-weight: bold;
      color: var(--tertiary-color);
    }
  }
}
/*? ProfileBox configuration for UserForm*/
.UserForm__ProfileBox {
  position: relative;
  cursor: default;
  .profilePicture_Username {
    cursor: default;
    height: 180px;
    width: 180px;
    .username-cut {
      font-size: 8rem;
    }
  }
  .upload_container_button {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    background-color: var(--body-color);
    color: var(--tertiary-color);
    padding: 0.4rem 0.6rem;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    span {
      display: inline-block;
      padding-left: 0.5rem;
    }
    &.active {
      cursor: default;
    }
  }
}

// ProfileBox configuration for ProfileCard
.ProfileCard__ProfileBox {
  .profilePicture_Username {
    height: 100px;
    width: 100px;
    .username-cut {
      font-size: 4rem;
    }
  }
}
@media (min-width: 500px) {
  /*? ProfileBox configuration for Header Profile Section */
  .Header__ProfileBox {
    display: flex;
    .profilePicture_Username {
      margin: 0 0.5rem;
    }
  }
  /*? ProfileBox configuration for Mobile Navigation */
  .MobileNavigation__ProfileBox {
    display: none;
  }
}

@media (min-width: 700px) {
  /*? ProfileBox configuration for Profile */
  .Profile__ProfileBox {
    top: -2.5rem;
    left: 50%;
    transform: translate(-50%);
    .profilePicture_Username {
      height: 120px;
      width: 120px;
      border: 8px solid var(--black-color);
      .username-cut {
        font-size: 4rem;
      }
    }
  }
}
