.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: var(--profile-updated-backdrop-index);
}
.info-modal {
  position: fixed;
  top: 10vh;
  left: 0%;
  width: 100vw;
  height: 10vh;
  padding: 1rem 5%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--profile-updated-overlay-index);

  p {
    text-align: center;
    font-size: 1.2rem;
  }
  .icon {
    font-size: 2rem;
    cursor: pointer;
  }
}

@media (min-width: 500px) {
  .info-modal {
    p {
      flex: 50%;
    }
  }
}
