.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: var(--primary-font);
  cursor: pointer;
  font-size: var(--primary-font-size);
  color: var(--nav-text-color);
  justify-content: space-around;
}
.logo #FN_text {
  font-size: 3.4rem;
  color: var(--nav-text-hover-color);
  padding-right: 0.5rem;
}
.logo #flownews_text {
  text-transform: uppercase;
  padding: 0.2rem 0;
  font-weight: normal;
}
.logo #publication_text {
  padding: 0.2rem 0;
  font-weight: normal;
}