.details {
  display: block;
  position: relative;
  font-family: var(--nav-link-font-family);
  font-size: var(--nav-link-font-size);
}
.details .profile_box {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.details .profile_box .profile_picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 0.5rem;
  object-fit: cover;
  object-position: center;
  background-color: var(--nav-text-hover-color);
  color: var(--body-color);
}
.details .profile_box p {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--nav-text-hover-color);
  color: var(--body-color);
  margin: 0 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.details .profile_box .icon {
  color: var(--nav-text-color);
  font-size: 0.8rem;
}

.nav-user {
  position: absolute;
  width: 300px;
  top: 3rem;
  right: 0;
  background-color: var(--nav-profile-box-color);
  /* box-shadow: 2px 3px #ccc, -2px 3px #ccc; */
  box-shadow: 2px 3px #ccc, -2px -1px #ccc;
}

.nav-user::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  right: 14px;
  top: -4px;
  transform: rotate(-45deg);
  background-color: var(--nav-text-hover-color);
  z-index: -1;
}

.nav-user-list {
  margin: 0.5rem 0;
}

.nav-user-list > li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--nav-text-color);
}

.nav-user-list > li:hover {
  color: white;
  background-color: var(--nav-text-hover-color);
}

.nav-user-list > li:not(.nav-user-list > li:last-of-type) {
  margin-bottom: 0.5rem;
}

.profileNavigation li a {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--nav-text-color);
  width: 100%;
  padding: 0.5rem 1rem;
}
.profileNavigation li a:hover {
  background-color: var(--nav-text-hover-color);
}
.profileNavigation li a p {
  padding: 0 0.5rem;
}
@media (min-width: 650px) {
  li.write {
    display: none;
  }
}
