.new-story-section {
  margin: 0 auto;
  &.previewed {
    // if preview is been done
    .footer {
      width: 60%;
    }
  }
  .footer {
    width: 100%;
  }

  .header {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: var(--tertiary-color);
    }

    .view-preview-button {
      font-size: 0.95rem;
      color: var(--primary-color);
      &:hover {
        color: var(--primary-hover-color);
      }
    }
  }
  .Story-title-preview-header {
    display: flex;
  }
  .story-area {
    display: flex;
    height: 45vh;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .guides {
    padding: 0.5rem 0;
    a {
      color: var(--link-color);
    }
  }
}
