.story-text-area {
  width: 100%;
}
.story-text-area.previewed {
  width: 60%;
}

.story-text-area .w-md-editor {
  min-height: 100% !important;
  height: 100% !important;
  border: 1px solid var(--primary-color);
}

/* .story-text-area .w-md-editor .w-md-editor-toolbar {
  
}
.story-text-area .w-md-editor .w-md-editor-content {
 
} */

.story-text-area .w-md-editor .w-md-editor-content .w-md-editor-text {
  /* This is the element that contains the text area */
  min-height: calc(100% - 40px) !important; /* Adjust based on padding/margin */
}

.story-text-area .w-md-editor-bar {
  /* this is the 3 dot icon for making the editor resizable in the y direction; */
  display: none;
}
