.cover-image {
  padding: 0.5rem 0;
  label {
    cursor: pointer;
    color: var(--primary-color);
  }
  input {
    display: none;
  }
  .message {
    font-size: 0.9rem;
    padding: 0.2rem 0;
  }
  .loader-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    .loader-text {
      color: var(--tertiary-color);
    }
  }

  .actions {
    display: flex;
    gap: 1rem;
    button {
      &.retry,
      &.change {
        outline: 1px solid var(--primary-color);
        padding: 0.3rem 1rem;
        color: var(--tertiary-color);
        border-radius: 0.3rem;
        background-color: transparent;
        &:hover {
          outline: 1px solid var(--primary-hover-color);
        }
      }
      &.cancel,
      &.remove {
        color: red;
      }
    }
  }
  .cover-image-preview_actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    .cover-image-preview {
      img {
        width: auto;
        max-width: 250px;
        height: 100px;
        object-fit: scale-down;
        object-fit: contain;
      }
    }
  }
}
