.cover-image {
  padding: 0.5rem 0;
  label {
    cursor: pointer;
    color: var(--primary-color);
  }
  input {
    display: none;
  }
  .message {
    font-size: 0.9rem;
    padding: 0.2rem 0;
  }
  .loader-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    .loader-text {
      color: var(--tertiary-color);
    }
  }
}
