.more_info {
  padding: 0.5rem 5%;
  text-align: center;
}
.more_info div {
  cursor: pointer;
  padding: 0.5rem 0;
  border: 1px solid grey;
}

@media (min-width: 700px) {
  .more_info {
    display: none;
  }
}
