.login {
  background-color: var(--body-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  /* height: auto;
  margin-top: -35vh; */
}

.login .icon {
  color: var(--nav-text-color);
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 5%;
  cursor: pointer;
}

.login h1 {
  font-size: 20px;
  font-weight: normal;
  padding: 0.5rem 0;
  color: var(--nav-text-hover-color);
}
.login .reply {
  background-color: rgb(237, 178, 178);
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  opacity: 0.8;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
}

.cancel_icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.login .form {
  width: 100%;
  background-color: var(--auth-form-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid var(--auth-form-border-color);
}

.login .form .form_control {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.5rem 0;
}

.login .form .form_control label,
.reset_password,
.reset_password .login .form .form_control .password_label {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--auth-form-label-color);
}
.login .form .form_control .password_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login .form .form_control input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s;
  font-size: 0.9rem;
  outline: 2px solid transparent;
}
.login .form .form_control input:focus {
  border: 1px solid var(--nav-text-hover-color);
}

.form .form_actions {
  margin: 2rem 0;
}

.form .form_actions button {
  cursor: pointer;
  background-color: var(--nav-text-hover-color);
  width: 100%;
  font-size: 0.9rem;
  padding: 0.6rem 0.5rem;
  color: var(--body-color);
  border-radius: 5px;
}
.form .form_actions button:hover {
  opacity: 0.9;
}
.login .form_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0.5rem 0;
  border: 1px solid var(--auth-form-border-color);
  border-radius: 5px;
  width: 100%;
}

.login .form_footer p {
  padding: 0 0.3rem;
  font-size: 0.9rem;
  color: var(--auth-form-label-color);
}
.login a {
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 2s ease;
  color: var(--nav-text-hover-color);
}
.login .form_footer a {
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 2s ease;
  color: var(--nav-text-hover-color);
}

@media (min-width: 500px) {
  .login .icon {
    display: none;
  }
  .login .form {
    border: none;
  }

  .login .form_footer a:hover {
    text-decoration: underline;
  }
}
