.email_verification {
  padding: 0.5rem;
  background-color: rgba(246, 160, 12, 10%);
  margin-top: 2rem;
  box-shadow: none;
}

.email_verification p {
  padding: 0.5rem 0;
}
.email_verification .verify_email {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  background-color: var(--nav-text-hover-color);
  color: var(--body-color);
  margin: 0.5rem 0;
}
