.profile_picture {
  position: absolute;
  top: 0;
  right: 0%;
  width: 23rem;
  .error {
    opacity: 0;
    color: red;
    display: inline-block;
    padding: 0.5rem 0;
    &.show {
      opacity: 1;
    }
  }

  p {
    color: var(--tertiary-color);
    font-weight: bold;
  }
  .upload_container_button {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    border-radius: 5px;
    background-color: var(--body-color);
    color: var(--tertiary-color);
    padding: 0.4rem 0.6rem;
    box-shadow: var(--secondary-color) 0px 0px 0px 1px;

    span {
      display: inline-block;
      padding-left: 0.5rem;
    }

    &.active {
      cursor: default;
    }
  }
 
}
