.profile_picture {
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue;
}
.profile_picture .profile_box {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-size: 2.2rem;
  line-height: 25px;
  overflow: hidden;
  background-color: var(--primary-color);
  margin: 0 0.5rem;
  text-align: center;
  color: var(--white-color);
}