.profile_picture {
  position: absolute;
  top: 0%;
  right: 10%;
  p {
    color: var(--tertiary-color);
    font-weight: bold;
  }
  button {
    padding: 0.4rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    background-color: red;
    border-radius: 5px;
  }
}
