.profile_picture {
  position: absolute;
  top: 0%;
  right: 10%;
  p {
    color: var(--tertiary-color);
    font-weight: bold;
  }
  button {
    cursor: pointer;
    position: absolute;
    bottom: 0.5rem;
    left: 0rem;
    border-radius: 5px;
    background-color: #eee;
    padding: 0.4rem 0.6rem;
    span{
      padding-left:0.5rem;
    }
    &.active {
      cursor: default;
    }
  }
  .upload_container {
    position: absolute;
    left: 0rem;
    top: 100%;
    background-color: #eee;
    color: black;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.2rem 0;
    li {
      cursor: pointer;
      padding: 0.5rem 0.6rem;
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
