.remove_profile_photo_container {
  background-color: var(--body-color);
  color: var(--tertiary-color);
  box-shadow: var(--secondary-color) 0px 0px 0px 1px;
  width: 12rem;
  padding: 0.5rem 0.6rem;
  .header {
    font-weight: normal;
    text-align: center;
  }
  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 0.4rem 0.5rem;
      border-radius: 5px;
      color: var(--white-color);
      &:first-child {
        background-color: var(--primary-color);
      }
      &:last-child {
        background-color: red;
      }
    }
  }
}

@media (min-width: 800px) {
  .remove_profile_photo_container {
    top: 2rem;
    left: 100%;
    margin-left: 0.5rem;
  }
}
@media (min-width: 1000px) {
  .remove_profile_photo_container {
    top: 6rem;
    left: 0%;
    margin-left: 0rem;
  }
}

@media (min-width: 1400px) {
  .remove_profile_photo_container {
    top: 2rem;
    left: 100%;
    margin-left: 0.5rem;
  }
}
