.remove_profile_photo_container {
  background-color: var(--body-color);
  color: var(--tertiary-color);
  width: 12rem;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  box-shadow: var(--secondary-color) 0px 0px 0px 1px;
  .header {
    font-weight: normal;
    text-align: center;
  }
  .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 0.4rem 1rem;
      border-radius: 5px;
      color: var(--white-color);
      &:first-child {
        background-color: var(--primary-color);
      }
      &:last-child {
        background-color: red;
      }
    }
  }
}
