.upload_container {
  font-size: 0.9rem;
  position: absolute;
  left: 0rem;
  top: 100%;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.2rem 0;
  background-color: var(--body-color);
  color: var(--tertiary-color);
  box-shadow: var(--secondary-color) 0px 0px 0px 1px;
}
.upload_container input {
  display: none;
}
.upload_container li {
  position: relative;
}
.upload_container li label {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  display: block;
  width: 100%;
}
.upload_container li:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}