.form .form_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.form .form_controls .form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}
