.bio {
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  margin: 0.5rem 5%;
  text-align: left;
  color: var(--tertiary-color);
}

@media (min-width: 700px) {
  .bio {
    text-align: center;
  }
  /* PROFILE PAGE STYLES FOR CONTRIBUTOR CARD */
  .bio.contributor-bio {
    text-align: left;
  }
}
