.contributor_info {
  background-color: var(--profile-info-background-color);
  color: var(--tertiary-color);
}

.contributor_info .bio {
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  margin: 0.5rem 5%;
  text-align: left;
}
.contributor_info .contributor_location_email_joinedDate {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 27px;

  color: var(--secondary-color);
  margin: 0.5rem 5%;
  gap: 1rem;
}

@media (min-width: 700px) {
  .contributor_info .bio {
    text-align: center;
  }
  .contributor_info .contributor_location_email_joinedDate {
    justify-content: center;
  }
}
