.education_work {
  display: flex;
  flex-direction: column;
  padding: 1rem 5%;
  .education,
  .work {
    margin: 0.5rem 0;
    padding-right: 1rem;
    label {
      font-size: 1rem;
      color: var(--secondary-color);
    }
    p {
      padding: 0.5rem 0;
      color: var(--tertiary-color);
    }
  }
}
@media (min-width: 650px) {
  .education_work {
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 800px) {
  .education_work {
    width: 80%;
    margin: 0 auto;
    .education,
    .work {
      text-align: center;
    }
  }
}
