.profile-name_container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 5%;
  align-items: center;
  justify-content: left;
}
.profile-name_container .name {
  margin: 0.5rem 0;
}
.profile-name_container .name h2 {
  display: inline;
  font-size: 25px;
  padding-right: 5px;
}
.profile-name_container .name .icon {
  display: inline;
  position: relative;
}
.profile-name_container .name .icon .verified_badge {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-color);
  font-size: 20px;
  transform: translateY(-50%);
}

@media (min-width: 700px) {
  .profile-name_container {
    justify-content: center;
  }
}
