.education_work {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 5%;
}
.education_work .education,
.education_work .work {
  margin-top: 0.5rem;
  padding-right: 1.5rem;
}
.education_work .education label,
.education_work .work label {
  color: grey;
  font-size: 1rem;
}

@media (min-width: 650px) {
  .education_work {
    flex-direction: row;
    padding: 0 5%;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 800px) {
  .education_work {
    width: 60%;
    margin: 0 auto;
  }
  .education_work .education,
  .education_work .work {
    text-align: center;
  }
}
