.follow {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 5%;
  margin: 0.5rem 0;
  font-size: 16px;
  line-height: 24px;
}

.follow .followers,
.follow .following {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
}
.follow h4 {
  color: var(--tertiary-color);
}
.follow label {
  color: var(--secondary-color);
}

@media (min-width: 700px) {
  .follow {
    justify-content: center;
  }
}
