.profile_section {
  display: none;
  position: relative;
  font-family: var(--nav-link-font-family);
  font-size: var(--nav-link-font-size);
}
.profile_box {
  display: none;
}

.nav-user {
  position: absolute;
  width: 200px;
  top: 3rem;
  right: 0;
  background-color: var(--nav-profile-box-color);
  /* box-shadow: 2px 3px #ccc, -2px 3px #ccc; */
  box-shadow: 2px 3px #ccc, -2px -1px #ccc;
}

.nav-user::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  right: 14px;
  top: -4px;
  transform: rotate(-45deg);
  background-color: var(--nav-text-hover-color);
  z-index: -1;
}

.nav-user-list {
  margin: 0.5rem 0;
}

.nav-user-list > li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--nav-text-color);
  color: black;
}

.nav-user-list > li:hover {
  color: white;
  background-color: var(--nav-text-hover-color);
}

.nav-user-list > li:not(.nav-user-list > li:last-of-type) {
  margin-bottom: 0.5rem;
}

.profileNavigation li a {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--nav-text-color);
  width: 100%;
  padding: 0.5rem 1rem;
  color: black;
}
.profileNavigation li a:hover {
  background-color: var(--nav-text-hover-color);
  color: white;
}
.profileNavigation li a p {
  padding: 0 0.5rem;
}
@media (min-width: 500px) {
  .profile_section {
    display: block;
  }
  .profile_box {
    display: flex;
  }
  .nav-user {
    width: 300px;
  }
}
@media (min-width: 650px) {
  li.write {
    display: none;
  }
}
