.loader {
  height: 80vh;
  background-color: transparent;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-4 {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  animation: s4 4s infinite;
}
.spinner-4::before,
.spinner-4::after {
  content: "";
  grid-area: 1/1;
  border: 5px solid;
  border-radius: 50%;
  border-color: var(--nav-text-hover-color) var(--nav-text-hover-color) #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.spinner-4::after {
  border-color: #0000 #0000 var(--nav-text-hover-color) var(--nav-text-hover-color);
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
