.email_request_change_cancel {
  padding: 0.5rem;
  box-shadow: none;
  background-color: rgba(246, 160, 12, 10%);
  margin: 1rem 0;
  h3 {
    color: var(--profile-color);
  }
  p {
    padding: 0.5rem 0;
    a {
      color: var(--link-color);
    }
  }
  .verify_email,
  .cancel {
    cursor: pointer;
    padding: 0.5rem 0.6rem;
    background-color: var(--nav-text-hover-color);
    color: white;
    margin: 0.5rem 0;
    margin-right: 1rem;
    &:disabled {
      cursor: not-allowed;
    }
  }
  .cancel {
    background-color: rgba(255, 0, 0, 0.7);
  }
}
