.email_verification {
  padding: 1rem;
  box-shadow: none;
  background-color: var(--email-verification-container-color);
  margin: 1rem 0;
}
.email_verification p {
  padding: 0.5rem 0;
  margin: 0;
}
.email_verification p a {
  color: var(--link-color);
}
.email_verification p.error {
  color: var(--email-verification-container--error-color);
}
.email_verification .verifyEmailButton,
.email_verification .cancel {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  margin: 0.5rem 0;
  color: var(--white-color);
  border-radius: 2px;
}
.email_verification .verifyEmailButton:disabled,
.email_verification .cancel:disabled {
  cursor: not-allowed;
  color: var(--primary-disabled-color);
}
.email_verification .verifyEmailButton {
  background-color: var(--primary-color);
  margin-right: 1rem;
}
.email_verification .verifyEmailButton:disabled {
  background-color: var(--primary-disabled-background-color);
}
.email_verification .verifyEmailButton:disabled:hover {
  background-color: var(--primary-disabled-background-color);
}
.email_verification .verifyEmailButton:hover {
  background-color: var(--primary-hover-color);
}
.email_verification .cancel {
  background-color: var(--email-verification-container-cancel-button-background-color);
}
.email_verification .cancel:disabled {
  background-color: var(--email-verification-container-cancel-button-disabled-background-color);
}
.email_verification .cancel:disabled:hover {
  background-color: var(--email-verification-container-cancel-button-disabled-background-color);
}