.email_verification {
  padding: 1rem;
  box-shadow: none;
  background-color: var(--email-verification-container-color);
  margin: 1rem 0;

  p {
    padding: 0.5rem 0;
    margin: 0;
    a {
      color: var(--link-color);
    }
    &.error {
      color: var(--email-verification-container--error-color);
    }
  }

  .verifyEmailButton,
  .cancel {
    cursor: pointer;
    padding: 0.5rem 0.6rem;
    margin: 0.5rem 0;
    color: var(--white-color);
    &:disabled {
      cursor: not-allowed;
      color: var(--primary-disabled-color);
    }
  }
  .verifyEmailButton {
    background-color: var(--primary-color);

    margin-right: 1rem;
    &:disabled {
      background-color: var(--primary-disabled-background-color);

      &:hover {
        background-color: var(--primary-disabled-background-color);
      }
    }
    &:hover {
      background-color: var(--primary-hover-color);
    }
  }
  .cancel {
    background-color: var(--email-verification-container-cancel-button-background-color);
    &:disabled {
      background-color: var(--email-verification-container-cancel-button-disabled-background-color);
      &:hover {
        background-color: var(--email-verification-container-cancel-button-disabled-background-color);
      }
    }
  }
}
