@use "../../../../sass/_DisplayFlex" as DisplayFlex;
.popup {
  background-color: var(--body-color);
  color: var(--tertiary-color);
  padding: 0;
  .icon {
    cursor: pointer;
    color: var(--nav-text-color);
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 5%;
  }

  .important {
    @extend %DisplayFlex;
    width: 100%;
    background-color: #ff000033;
    justify-content: left;
    padding: 1rem 5%;
    margin: 1rem 0;
    gap: 0.5rem;
    .icon {
      position: static;
      display: block;
      color: red;
      font-size: 1.3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .notes {
    padding: 0 5%;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    span {
      font-weight: bold;
      &.username {
        color: var(--link-color);
        font-style: italic;
      }
    }
  }
  form {
    padding: 0rem 5%;
    width: 100%;
    .form_control {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0.5rem 0;
      width: 100%;
      label {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 0;
      }
      input {
        width: 100%;
        padding: 0.5rem 0.6rem;
        font-size: 0.9rem;
        background-color: var(--form-background-color);
        border-radius: 5px;
        outline: 1px solid var(--form-border-color);
        color: var(--tertiary-color);
        &:focus {
          outline: 1px solid var(--primary-color);
          caret-color: var(--primary-hover-color);
        }
      }
      span {
        font-weight: normal;
        font-style: italic;
      }
    }

    button {
      cursor: pointer;
      background-color: red;
      color: var(--white-color);
      padding: 0.5rem 0.6rem;
      width: 100%;
      margin: 1rem 0;
      border-radius: 0.3rem;
      &:disabled {
        cursor: not-allowed;
        background-color: var(--error-color);
      }
    }
    .error {
      color: red;
      text-align: center;
    }
    .success {
      text-align: center;
      color: green;
    }
  }
}
@media (min-width: 500px) {
  .popup {
    .icon {
      display: none;
    }
  }
}
