.profile_section {
  position: relative;
  display: none;
  font-size: 1.1rem;
}
.profile_section .nav-user {
  overflow: hidden;
  position: absolute;
  width: 300px;
  top: 3rem;
  right: 0;
  background-color: var(--nav-profile-box-color);
  box-shadow: 2px 3px #ccc, -2px -1px #ccc;
}
.profile_section .nav-user::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  right: 28px;
  top: -4px;
  transform: rotate(-45deg);
  background-color: var(--primary-color);
  z-index: -1;
}
.profile_section hr {
  border: none;
  height: 1px;
  background-color: var(--black-color);
}
.profile_section .nav-user-list {
  margin: 0.5rem 0;
}
.profile_section .nav-user-list .signed_in_as {
  padding: 0 1rem;
}
.profile_section .nav-user-list .username {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.profile_section .nav-user-list li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--black-color);
}
.profile_section .nav-user-list li:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.profile_section .nav-user-list > li:not(.nav-user-list > li:last-of-type) {
  margin-bottom: 0.5rem;
}
.profile_section .nav-user-list .email {
  cursor: pointer;
  padding: 0 1rem;
  font-size: 1.1rem;
  margin: 0;
}
.profile_section .profileNavigation li a {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--secondary-color);
  width: 100%;
  padding: 0.5rem 1rem;
}
.profile_section .profileNavigation li a:hover,
.profile_section li.write a:hover {
  background-color: var(--primary-color);
  color: white;
}
.profile_section .profileNavigation li a p {
  padding: 0 0.5rem;
}

@media (min-width: 500px) {
  .profile_section {
    display: block;
  }
  .nav-user {
    width: 300px;
  }
}
@media (min-width: 650px) {
  .write {
    display: none;
  }
  .write_line {
    display: none;
  }
}