.profile_section {
  position: relative;
  display: none;
  font-size: 1.1rem;
}
.profile_section .nav-user {
  position: absolute;
  width: 300px;
  top: 3rem;
  right: 0;
  background-color: var(--nav-profile-box-color);
  box-shadow: var(--primary-color) 0px 0px 0px 1px;
  overflow-x: hidden;
  border-radius: 5px;
}
.profile_section .nav-user::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 12px;
  right: 28px;
  top: -5px;
  transform: rotate(-45deg);
  background-color: var(--primary-color);
  z-index: -1;
}
.profile_section hr {
  border: none;
  height: 1px;
  background-color: var(--black-color);
}
.profile_section .nav-user-list {
  margin: 0.5rem 0;

  overflow: hidden;
}
.profile_section .nav-user-list .signed_in_as {
  padding: 0 1rem;
}
.profile_section .nav-user-list .username {
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1rem;
}
.profile_section .nav-user-list li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--black-color);
}
.profile_section .nav-user-list li:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.profile_section .nav-user-list > li:not(.nav-user-list > li:last-of-type) {
  margin-bottom: 0.5rem;
}
.profile_section .nav-user-list label.email {
  display: block;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  padding: 0 1rem;
}

@media (min-width: 500px) {
  .profile_section {
    display: block;
  }
  .nav-user {
    width: 300px;
  }
}
@media (min-width: 650px) {
  .write {
    display: none;
  }
  .write_line {
    display: none;
  }
}
@media (max-height: 550px) {
  .profile_section .nav-user {
    height: 80vh;
    overflow-y: scroll;
  }
}
