/** Default profileBox configuration */
.profile_box {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.profile_box .profile_picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 0.5rem;
  object-fit: cover;
  object-position: center;
  background-color: var(--nav-text-hover-color);
  color: var(--body-color);
}
.profile_box p {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--nav-text-hover-color);
  color: var(--body-color);
  margin: 0 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.profile_box .icon {
  color: var(--nav-text-color);
  font-size: 0.8rem;
}
.profile_box .profile_box_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.profile_box .profile_box_text .username {
  color: var(--nav-text-color);
}

/*? ProfileBox configuration for Header Profile Section */
.Header-ProfileSection__ProfileBox {
  display: none;
}

/*? ProfileBox configuration for Mobile Navigation */
.MobileNavigation__ProfileBox {
  display: flex;
  width: auto;
  margin: 0.5rem;
}
.MobileNavigation__ProfileBox .username {
  cursor: pointer;
}
.MobileNavigation__ProfileBox .icon {
  display: none;
}

/*? ProfileBox configuration for Profile */
.Profile__ProfileBox {
  cursor: default;
  position: absolute;
  top: -1rem;
  left: 5%;
}
.Profile__ProfileBox p {
  height: 45px;
  width: 45px;
  font-size: 2.25rem;
}
.Profile__ProfileBox .username,
.Profile__ProfileBox .icon {
  display: none;
}

/*? ProfileBox configuration for Setting */
.Setting__ProfileBox {
  cursor: default;
}
.Setting__ProfileBox p {
  height: 45px;
  width: 45px;
  font-size: 2.25rem;
}
.Setting__ProfileBox .profile_box_text {
  padding: 0 0.5rem;
}
.Setting__ProfileBox .profile_box_text .username {
  font-weight: bold;
  padding: 0.3rem 0;
  font-size: 1rem;
}
.Setting__ProfileBox .profile_box_text .your_personal_account {
  font-weight: normal;
  font-size: 0.9rem;
}
.Setting__ProfileBox .icon {
  display: none;
}

@media (min-width: 500px) {
  /*? ProfileBox configuration for Header Profile Section */
  .Header-ProfileSection__ProfileBox {
    display: flex;
  }
  .Header-ProfileSection__ProfileBox .username {
    display: none;
  }
  /*? ProfileBox configuration for Mobile Navigation */
  .MobileNavigation__ProfileBox {
    display: none;
  }
}
@media (min-width: 700px) {
  /*? ProfileBox configuration for Profile */
  .Profile__ProfileBox {
    cursor: default;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    margin-left: -50px;
  }
  .Profile__ProfileBox p {
    height: 100px;
    width: 100px;
    font-size: 4rem;
    border: 8px solid var(--profile-color);
  }
  .Profile__ProfileBox .icon {
    display: none;
  }
}