.profile_section {
  position: relative;
  display: none;
  font-size: 1.1rem;

  .nav-user {
    overflow: hidden;
    position: absolute;
    width: 300px;
    top: 3rem;
    right: 0;
    background-color: var(--nav-profile-box-color);
    box-shadow: 2px 3px #ccc, -2px -1px #ccc;
    &::before {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      right: 28px;
      top: -4px;
      transform: rotate(-45deg);
      background-color: var(--primary-color);
      z-index: -1;
    }
  }
  hr {
    border: none;
    height: 1px;
    background-color: var(--black-color);
  }

  .nav-user-list {
    margin: 0.5rem 0;
    .signed_in_as {
      padding: 0 1rem;
    }
    .username {
      padding: 0 1rem;
      font-weight: bold;
      font-size: 1rem;
    }

    li {
      cursor: pointer;
      padding: 0.5rem 1rem;
      color: var(--black-color);
      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }

    & > li:not(.nav-user-list > li:last-of-type) {
      margin-bottom: 0.5rem;
    }

    .email {
      cursor: pointer;
      padding: 0 1rem;
      font-size: 1.1rem;
      margin: 0;
    }
  }

  .profileNavigation li a {
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--secondary-color);
    width: 100%;
    padding: 0.5rem 1rem;
    // color: black;
  }
  .profileNavigation li a:hover,
  li.write a:hover {
    background-color: var(--primary-color);
    color: white;
  }
  .profileNavigation li a p {
    padding: 0 0.5rem;
  }
}
@media (min-width: 500px) {
  .profile_section {
    display: block;
  }

  .nav-user {
    width: 300px;
  }
}
@media (min-width: 650px) {
  .write {
    display: none;
  }
  .write_line {
    display: none;
  }
}
