.write a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.write {
  padding: var(--primary-padding);
}
.write a {
  justify-content: left;
  color: var(--black-color);
}
.write p {
  padding: 0 0.5rem;
  font-size: var(--primary-font);
}
.write .icon {
  font-size: 1.1rem;
}

@media (min-width: 650px) {
  .write a {
    color: var(--secondary-color);
  }
}