.write {
  padding: var(--nav-link-padding);
  margin: var(--nav-link-margin);
}
.write a {
  display: flex;
  justify-content: center;
  color:var(--nav-text-color)
}
.write p {
  padding: 0 0.2rem;
}
