.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 10vh;
  padding: 1rem 5%;
  background-color: var(--header-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--nav-text-hover-color);
}
.logo,
.navigation,
.account_subscribe {
  font-family: var(--nav-link-font-family);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 10.7rem;
}
