.navigation .navigation-section {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--side-nav);
  padding: 0 2.5%;
  transition: all 0.4s ease;
  z-index: 998;
}
.navigation.active .navigation-section {
  left: 0%;
}
.navigation .navigation-section .toggleLogo {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}
.navigation .navigation-section .toggleLogo .logo {
  display: none;
}

.navigation.active .navigation-section .toggleLogo .logo {
  display: flex;
  transition: all 0.4s ease;
}

.navigation .navigation-section .navigation-list,
.for_mobile_only {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.navigation .navigation-section .navigation-list li {
  margin: 1rem 0;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
}
.navigation .navigation-section .navigation-list li a {
  position: relative;
  padding: var(--nav-link-padding);
  color: var(--nav-text-color);
  font-size: var(--nav-link-font-size);
  font-weight: var(--nav-link-font-weight);
  transition: all 0.4s ease;
}

.navigation .navigation-section .navigation-list li a::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 0.3rem;
  width: 0.3rem;
  margin-left: -0.125rem;
  border-radius: 50%;
  background-color: var(--nav-text-hover-color);
  opacity: 0;
  transition: all 0.4s ease;
}

.navigation .navigation-section .navigation-list li a.active-link {
  color: var(--nav-text-hover-color);
}
.navigation .navigation-section .navigation-list li a.active-link::before {
  opacity: 1;
  background-color: var(--nav-text-hover-color);
}
.navigation .navigation-section .toggleLogo .icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--nav-text-color);
}

.for_mobile_only button {
  cursor: pointer;
  margin: 0.5rem 0;
  text-transform: capitalize;
  text-align: center;
  padding: var(--nav-link-padding);
  font-size: var(--nav-link-font-size);
}
.for_mobile_only button.contributor {
  background-color: transparent;
  color: var(--nav-text-color);
  font-size: var(--nav-link-font-size);
  font-weight: var(--nav-link-font-weight);
  transition: all 0.4s ease;
}
.for_mobile_only button.contributor:hover {
  color: var(--nav-text-hover-color);
}
.for_mobile_only button.login {
  color: var(--subscribe-button-color);
  background-color: var(--subscribe-button);
}
.for_mobile_only button.login:hover {
  background-color: var(--subscribe-button-hover);
  opacity: 0.8;
}

.navigation .navigation-section .navigation-list .profile_box {
  display: flex;
  width: auto;
  margin: 0.5rem;
}
.navigation .navigation-section .navigation-list .profile_box label {
  color: var(--nav-text-color);
}
.navigation .navigation-section .notification {
  display: block;
  margin: 0.5rem;
}
.navigation .navigation-section .sign_out {
  display: block;
  margin: 0.5rem;
  text-transform: none;
}
@media (min-width: 350px) {
  .navigation .navigation-section .notification {
    display: none;
  }
  .navigation .navigation-section .sign_out {
    display: none;
  }
}
@media (min-width: 500px) {
  .navigation .navigation-section {
    width: 50vw;
  }

  .navigation .navigation-section .navigation-list li a:hover {
    color: var(--nav-text-hover-color);
  }
  .navigation .navigation-section .navigation-list li a:hover::before {
    opacity: 1;
  }
  .for_mobile_only .icon {
    display: none;
  }
  .navigation .navigation-section .navigation-list .profile_box {
    display: none;
  }
}
@media (min-width: 700px) {
  .navigation .navigation-section {
    width: 40vw;
  }
  .for_mobile_only {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigation .navigation-section {
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    background-color: var(--header-color);
  }
  .navigation .navigation-section .toggleLogo {
    display: none;
  }
  .navigation .navigation-section .navigation-list {
    position: static;
    flex-direction: row;
    justify-content: space-around;
  }
  .navigation .navigation-section .navigation-list li {
    width: auto;
    margin: var(--nav-link-margin);
  }

  .for_mobile_only {
    display: none;
  }
}
