.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navigation .navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation .navigation-list li {
  margin: 0 5px;
}

.navigation .navigation-list li a {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  color: var(--nav-text-color);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s ease;
  text-transform: capitalize;
}
.navigation .navigation-list li a:hover {
  color: var(--nav-text-hover-color);
}
.navigation .navigation-list li a::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 0.3rem;
  width: 0.3rem;
  margin-left: -0.125rem;
  border-radius: 50%;
  background-color: var(--nav-text-hover-color);
  opacity: 0;
  transition: all 0.4s ease;
}
.navigation .navigation-list li a:hover::before {
  opacity: 1;
}

.navigation .navigation-list li a.active-link {
  color: var(--nav-text-hover-color);
}
.navigation .navigation-list li a.active-link::before {
  opacity: 1;
  background-color: var(--nav-text-hover-color);
}

.navigation .darkLight-searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 5px;
}

.navigation .darkLight-searchBox .darkLight,
.navigation .darkLight-searchBox .searchBox .searchToggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0 5px;
}
.navigation .darkLight-searchBox .icon {
  font-size: 1.3rem;
  color: var(--nav-text-color);
}
.navigation .darkLight-searchBox .searchBox {
  position: relative;
}
.navigation .darkLight-searchBox .searchBox .searchField {
  position: absolute;
  background-color: red;
  bottom: -80px;
  right: 5px;
  height: 2.5rem;
  width: 300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
  background-color: var(--header-color);

  box-shadow: 0 5px 5px var(--header-color);
}
.navigation .darkLight-searchBox .searchBox .searchField::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  right: 14px;
  top: -4px;
  transform: rotate(-45deg);
  background-color: var(--header-color);
  z-index: 1;
}
.navigation .darkLight-searchBox .searchBox .searchField .input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  font-size: 1rem;
  color: var(--nav-text-color);
  background-color: transparent;
  font-weight: 400px;
  border-radius: 4px;
}
.navigation .darkLight-searchBox .searchBox .searchField .search {
  position: absolute;
  cursor: pointer;
  color: var(--nav-text-color);
  right: 15px;
}
