.theme-label-text {
  font-weight: bold;
}
.themes-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0;
}

.themes-section .single_theme {
  border: 1px solid grey;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  margin: 1rem auto;
  height: auto;
  width: 80%;
}
.themes-section .single_theme img {
  width: 100%;
}
.themes-section .single_theme.active {
  border: 1px solid var(--primary-color);
}

.themes-section .single_theme .theme_details {
  padding: 1rem;
  display: flex;
}
.themes-section .single_theme .theme_details label {
  cursor: pointer;
  padding: 0 0.5rem;
}

@media (min-width: 500px) {
  .themes-section {
    flex-direction: row;
  }
  .themes-section .single_theme {
    margin: 0rem 1rem;
    width: auto;
  }
}
