@use "../../../../sass/_DisplayFlex";
.account_subscribe {
  position: relative;
  font-size: var(--primary-font-size);
  font-size: 1rem;
  .my_account {
    cursor: pointer;
    color: var(--secondary-color);
    text-transform: capitalize;
    @extend %DisplayFlex;
    justify-content: space-around;
    margin: 0 0.5rem;

    .icon {
      margin: 0 0.5rem;
    }
    .my_account_container {
      display: none;
      cursor: default;
      position: absolute;
      bottom: -6.5rem;
      left: 0rem;
      width: 260px;
      z-index: 999;
      background-color: var(--header-color);
      box-shadow: 0 5px 5px var(--header-color);
      border-radius: 0.3rem;
      border: 2px solid var(--primary-color);
      transition: all 0.3s ease;
      padding: 0.5rem 0;
      span {
        color: var(--secondary-color);
        margin: 0.5rem;
        font-weight: bold;
      }
      hr {
        display: block;
        margin-top: 0.5rem;
      }
      .my_account_container_button {
        button {
          cursor: pointer;
          margin: 0.5rem;
          padding: var(--primary-padding);
          font-size: var(--primary-font-size);
          font-size: 0.9rem;
          &.login {
            color: var(--white-color);
            background-color: var(--primary-color);
            &:hover {
              background-color: var(--primary-hover-color);
            }
          }
          &.contributor {
            color: var(--secondary-color);
            background-color: transparent;
            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }

  .subscribe_button {
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: var(--primary-padding);
    margin: 0 0.5rem;
    &:hover {
      background-color: var(--primary-hover-color);
    }
  }
  &.active .my_account_container {
    display: block;
  }
}
