.account_subscribe .my_account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.account_subscribe {
  position: relative;
  font-size: var(--primary-font-size);
  font-size: 1rem;
}
.account_subscribe .my_account {
  cursor: pointer;
  color: var(--secondary-color);
  text-transform: capitalize;
  justify-content: space-around;
  margin: 0 0.5rem;
}
.account_subscribe .my_account .icon {
  margin: 0 0.5rem;
}
.account_subscribe .my_account .my_account_container {
  display: none;
  cursor: default;
  position: absolute;
  bottom: -6.5rem;
  left: 0rem;
  width: 260px;
  z-index: 999;
  background-color: var(--search-field-color);
  box-shadow: 0 5px 5px var(--header-color);
  border-radius: 0.3rem;
  border: 2px solid var(--search-field-border-color);
  transition: all 0.3s ease;
  margin: var(--nav-link-margin);
  padding: 0.5rem 0;
}
.account_subscribe .my_account .my_account_container span {
  color: var(--secondary-color);
  margin: 0.5rem;
  font-weight: bold;
}
.account_subscribe .my_account .my_account_container hr {
  display: block;
  margin-top: 0.5rem;
}
.account_subscribe .my_account .my_account_container .my_account_container_button button {
  cursor: pointer;
  margin: 0.5rem;
  padding: var(--primary-padding);
  font-size: var(--nav-link-font-size);
  font-size: 0.9rem;
}
.account_subscribe .my_account .my_account_container .my_account_container_button button.login {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.account_subscribe .my_account .my_account_container .my_account_container_button button.contributor {
  color: var(--nav-text-color);
  background-color: transparent;
}
.account_subscribe .my_account .my_account_container .my_account_container_button button.contributor:hover {
  color: var(--nav-text-hover-color);
}
.account_subscribe .subscribe_button {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: var(--primary-padding);
  margin: 0 0.5rem;
}
.account_subscribe .subscribe_button:hover {
  background-color: var(--primary-hover-color);
}
.account_subscribe.active .my_account_container {
  display: block;
}