.darkLight-searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: var(--nav-link-margin);
}
@media (min-width: 1200px) {
  .darkLight-searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: var(--nav-link-margin);
  }
}
