.profile {
  position: relative;
  overflow: visible;
  min-height: 100vh;
  background-color: var(--black-color);
}
/*note---->extra settings for the profile class */
.profile.light {
  width: 100%;
  min-height: 10rem;
}
.profile.light .profile_text_container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  max-width: 60rem;
  background-color: var(--body-color);
  border-radius: 15px;
  padding-bottom: 10px;
}

@media (min-width: 700px) {
  .profile.light .profile_text_container {
    top: 45%;
    width:90%;
  }
}
