.for_mobile_only {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.for_mobile_only {
  flex-direction: column;
  width: 100%;
}
.for_mobile_only button {
  cursor: pointer;
  margin: 0.5rem 0;
  text-transform: capitalize;
  text-align: center;
  padding: var(--nav-link-padding);
  font-size: var(--nav-link-font-size);
}
.for_mobile_only button.contributor {
  background-color: transparent;
  color: var(--nav-text-color);
  font-size: var(--nav-link-font-size);
  font-weight: var(--nav-link-font-weight);
  transition: all 0.4s ease;
}
.for_mobile_only button.contributor:hover {
  color: var(--nav-text-hover-color);
}
.for_mobile_only.login {
  color: var(--subscribe-button-color);
  background-color: var(--subscribe-button);
}
.for_mobile_only.login:hover {
  background-color: var(--subscribe-button-hover);
  opacity: 0.8;
}

.for_mobile_only .notification {
  display: block;
  margin: 0.5rem;
}

.for_mobile_only .sign_out {
  display: block;
  margin: 0.5rem;
  text-transform: none;
  cursor: pointer;
  padding: 0 1rem;
  font-weight: 300;
  color: var(--nav-text-color);
}

.for_mobile_only .sign_out a {
  color: var(--nav-text-color);
}

@media (min-width: 350px) {
  .for_mobile_only .notification {
    display: none;
  }
}
@media (min-width: 500px) {
  .for_mobile_only .sign_out {
    display: none;
  }
}
@media (min-width: 700px) {
  .for_mobile_only {
    display: none;
  }
}