@use "../../../sass/_DisplayFlex";
.navigation {
  @extend %DisplayFlex;
  .navigation-section {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    @extend %DisplayFlex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--side-nav);
    padding: 0 2.5%;
    transition: all 0.4s ease;
    z-index: 1000; //?TODO ZINDEX
    overflow-y: scroll;
    padding-bottom: 1rem;
    .toggleLogo {
      height: 10vh;
      width: 100%;
      @extend %DisplayFlex;
      justify-content: space-around;
      padding: 2rem 0;
      .logo {
        display: flex;
      }
      .icon {
        cursor: pointer;
        font-size: 1.8rem;
        color: var(--secondary-color);
      }
    }
    .navigation-list {
      @extend %DisplayFlex;
      flex-direction: column;
      width: 100%;
    }
  }
  &.active .navigation-section {
    left: 0%;
    
  }
}

@media (min-width: 350px) {
  .navigation .navigation-section .notification {
    display: none;
  }
}
@media (min-width: 500px) {
  .navigation .navigation-section {
    width: 50vw;
  }
}
@media (min-width: 700px) {
  .navigation {
    .navigation-section {
      width: 40vw;
    }
  }
}
@media (min-width: 1200px) {
  .navigation {
    .navigation-section {
      position: static;
      height: auto;
      width: auto;
      padding: 0;
      background-color: var(--header-color);
      .toggleLogo {
        display: none;
      }
      .navigation-list {
        position: static;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
