.navigation, .navigation .navigation-section, .navigation .navigation-section .toggleLogo, .navigation .navigation-section .navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navigation .navigation-section {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--side-nav);
  padding: 0 2.5%;
  transition: all 0.4s ease;
  z-index: 1000;
}
.navigation .navigation-section .toggleLogo {
  height: 10vh;
  width: 100%;
  justify-content: space-around;
  padding: 2rem 0;
}
.navigation .navigation-section .toggleLogo .logo {
  display: flex;
}
.navigation .navigation-section .toggleLogo .icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--secondary-color);
}
.navigation .navigation-section .navigation-list {
  flex-direction: column;
  width: 100%;
}
.navigation.active .navigation-section {
  left: 0%;
  overflow: scroll;
}

@media (min-width: 350px) {
  .navigation .navigation-section .notification {
    display: none;
  }
}
@media (min-width: 500px) {
  .navigation .navigation-section {
    width: 50vw;
  }
}
@media (min-width: 700px) {
  .navigation .navigation-section {
    width: 40vw;
  }
}
@media (min-width: 1200px) {
  .navigation .navigation-section {
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    background-color: var(--header-color);
  }
  .navigation .navigation-section .toggleLogo {
    display: none;
  }
  .navigation .navigation-section .navigation-list {
    position: static;
    flex-direction: row;
    justify-content: space-around;
  }
}