.navigation-link {
  font-family: var(--secondary-font);
  margin: 1rem 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  a {
    position: relative;
    font-size: var(--primary-font-size);
    padding: var(--primary-padding);
    color: var(--secondary-color);
    // transition: all 0.4s ease;

    &::before {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 50%;
      height: 0.3rem;
      width: 0.3rem;
      margin-left: -0.125rem;
      border-radius: 50%;
      background-color: var(--primary-color);
      opacity: 0;
      transition: all 0.4s ease;
    }

    &.active-link {
      color: var(--primary-color);
    }
    &.active-link::before {
      opacity: 1;
      background-color: var(--primary-color);
    }
  }
}
@media (min-width: 500px) {
  .navigation-link {
    a:hover {
      transition: all 0.4s ease;
      color: var(--primary-color);
      &::before {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navigation-link {
    width: auto;
    margin: 0 0.5rem;
  }
}
