.password {
  p,
  .form_controls {
    margin: 0;
  }
  p.success {
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  p.text {
    margin: 0;
    font-size: 0.9rem;
    padding: 0.2rem 0;
  }
  .form_actions {
    padding: 0;
  }
}
