.password p.success,.password p.error {
  border-radius: 5px;
}
.password p.success {
  padding: 0.5rem;
  margin: 1rem 0;
}

.password p.error {
  padding: 0.5rem;
  margin: 1rem 0;
  color: var(--nav-text-color);
  background-color: rgb(237, 178, 178);
  color: red;
  font-weight: bold;
}

.password .form_actions {
  padding: 0;
}
