@use "../../../sass/_DisplayFlex";
.for_mobile_only {
  @extend %DisplayFlex;
  flex-direction: column;
  width: 100%;
  button {
    cursor: pointer;
    margin: 0.5rem 0;
    text-transform: capitalize;
    text-align: center;
    padding: var(--primary-padding);
    font-size: var(--primary-font-size);
    &.contributor {
      background-color: transparent;
      color: var(--secondary-color);
      transition: all 0.4s ease;
      &:hover {
        color: var(--primary-color);
      }
    }

    &.login {
      color: var(--white-color);
      background-color: var(--primary-color);
      &:hover {
        background-color: var(--primary-color);
        opacity: 0.8;
      }
    }
  }
}

.for_mobile_only .notification {
  display: block;
  margin: 0.5rem;
}
.for_mobile_only .sign_out {
  display: block;
  margin: 0.5rem;
  text-transform: none;
  cursor: pointer;
  padding: 0 1rem;
  font-weight: 300;
  color: var(--secondary-color);
}
.for_mobile_only .sign_out a {
  color: var(--secondary-colorr);
}
@media (min-width: 350px) {
  .for_mobile_only .notification {
    display: none;
  }
}
@media (min-width: 500px) {
  .for_mobile_only .sign_out {
    display: none;
  }
}

@media (min-width: 700px) {
  .for_mobile_only {
    display: none;
  }
}
