.email_link_sent {
  background-color: var(--body-color);
  text-align: center;
  background-color: red;
  .icon {
    color: var(--secondary-color);
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 5%;
    cursor: pointer;
  }
  .header {
    padding: 1rem 0;

    h2,
    h4 {
      color: var(--secondary-color);
    }
  }
  .body {
    padding: 1rem 0;
    .email {
      border-radius: 50%;
      background-color: var(--primary-color);
      height: 5rem;
      width: 5rem;
      margin: 0 auto;
      overflow: hidden;
      .email_icon {
        font-size: 3rem;
        margin: 1rem auto;
      }
    }
    .message {
      padding: 1rem 0;
      color: var(--secondary-color);
    }
  }

  .cancel_icon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  .resend_verification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: var(--primary-color);
    .email {
      font-size: 1.2rem;
    }
    button {
      cursor: pointer;
      margin: 0 0.5rem;
      background-color: transparent;
      color: var(--primary-color);
    }
  }
}
@media (min-width: 500px) {
  // .email_link_sent .icon {
  //   display: none;
  // }
  .email_link_sent {
    height: 50vh;
  }
}
