.email_link_sent {
  background-color: var(--body-color);
  text-align: center;
}
.email_link_sent .icon {
  color: var(--secondary-color);
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 5%;
  cursor: pointer;
}
.email_link_sent .header {
  padding: 1rem 0;
}
.email_link_sent .header h2,
.email_link_sent .header h4 {
  padding: 0.5rem 0;
  color: var(--secondary-color);
}
.email_link_sent .body {
  padding: 1rem 0;
}
.email_link_sent .body .email {
  border-radius: 50%;
  background-color: var(--primary-color);
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  overflow: hidden;
}
.email_link_sent .body .email .email_icon {
  font-size: 3rem;
  margin: 1rem auto;
}
.email_link_sent .body .message {
  padding: 1rem 0;
  color: var(--secondary-color);
  overflow: hidden;
  text-overflow: ellipsis;
}
.email_link_sent .body .message .contributor_email {
  display: inline;
  font-style: italic;
  color: var(--primary-color);
  text-overflow: ellipsis;
  overflow: hidden;
}
.email_link_sent .cancel_icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.email_link_sent .resend_verification {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  color: var(--primary-color);
}
.email_link_sent .resend_verification .email {
  font-size: 1.2rem;
}
.email_link_sent .resend_verification button {
  cursor: pointer;
  margin: 0 0.5rem;
  background-color: transparent;
  color: var(--primary-color);
}

@media (min-width: 500px) {
  .email_link_sent .icon {
    display: none;
  }
}