.main {
  background-color: var(--body-color);
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 10vh;
}
/*note---->extra settings for the main class */
.main.profile_page {
  width: 100%;
  max-width: 100%;
}

.error {
  color: red;
}
.success {
  color: var(--body-color);
  background-color: var(--primary-color);
}
