.main {
  background-color: var(--body-color);
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: var(--header-height);
  padding-top: 1rem;
}
/*note---->extra settings for the main class */
.main.profile_page {
  width: 100%;
  max-width: 100%;
}

.error {
  color: red;
}
.success {
  color: var(--body-color);
  background-color: var(--primary-color);
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
}
.main-content {
  background-color: blue;
  height: 90vh;
}
.aside-content {
  background-color: red;
}
