.main {
  background-color: var(--body-color);
  padding-top: 10vh;
  width: 90%;
  margin: 0 auto;
}

.main.profile_updated {
  padding-top: 20vh;
}

.error {
  color: red;
}
.success {
  color: var(--body-color);
  background-color: var(--primary-color);
}
.popup {
  z-index: 999;
}

@media (min-width: 1600px) {
  .main {
    width: 1400px;
  }
}
