* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
:root {
  --body-color: #ffffff;
  --header-color: #ffffff;
  --side-nav: #ccc;
  --nav-text-color: black;
  --nav-text-hover-color: #309b65;
  --subscribe-button: var(--nav-text-hover-color);
  --subscribe-button-color: var(--body-color);
  --subscribe-button-hover: var(--nav-text-hover-color);
  --search-field-color: var(--header-color);
  --search-field-border-color: var(--nav-text-hover-color);

  --auth-form-color: #e8f0fe;
  --auth-form-label-color: black;
  --auth-form-border-color: rgb(223, 223, 223);

  --nav-profile-box-color: white;

  /* fonts */
  --nav-link-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --nav-link-font-size: 1rem;
  --nav-link-font-weight: 500;
  --nav-link-padding: 0.5rem;
  --nav-link-margin: 0 5px;

  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Profile color */
  --profile-color: black;
}
body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
  height: auto;
}

body.dark {
  --body-color: #18191a;
  --header-color: #242526;
  --side-nav: #242526;
  --nav-text-color: #ccc;
  --nav-text-hover-color: orange;
  --subscribe-button: var(--nav-text-hover-color);
  --subscribe-button-color: var(--header-color);
  --subscribe-button-hover: var(--nav-text-hover-color);
  --search-field-color: var(--header-color);
  --search-field-border-color: var(--nav-text-hover-color);

  --auth-form-color: transparent;
  --auth-form-label-color: var(--nav-text-color);
  --auth-form-border-color: rgb(98, 96, 96);

  --nav-profile-box-color: #ccc;

  /* Profile color */
  --profile-color: #ffffff;
}

body.fixed-body {
  height: 100vh;
  overflow: hidden;
}

/* GLOBAL STYLES */
li {
  list-style: none;
}
a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}
