* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
:root {
  /*? fonts family */
  --primary-font: "Merriweather", serif;
  --secondary-font: "Lato", Helvetica, sans-serif;
  --tertiary-font: "Frank Ruhl Libre", Helvetica, serif;
  /*? fonts sizes */
  --primary-font-size: 14px;
  --heading-font-size: 1.5rem;
  --primary-font-line-height: 1.3125rem;
  --reverse-black-white-color: black;
  /*? padding */
  --primary-padding: 0.5rem 0.6rem;
  --secondary-padding: 0.4rem 0.5rem;
  --auth-form-padding: 0.5rem 1rem;
  /*? colors */
  --primary-color: rgb(48, 155, 101);
  --primary-hover-color: rgba(48, 155, 101, 0.8);
  --secondary-color: black;
  --tertiary-color: black;
  --tertiary-extra-color: white;
  --auth-form-color: #e8f0fe;
  --auth-form-border-color: rgb(223, 223, 223);
  /*? specific colors */
  --body-color: #ffffff;
  --header-color: #ffffff;
  --side-nav-color: #ccc;
  --side-nav: #ccc;
  --link-color: blue;
  --error-color: rgb(237, 178, 178);
  --email-verification-container-color: rgba(246, 160, 12, 20%);
  /*? normal global colors  */
  --black-color: black;
  --white-color: white;

  --nav-profile-box-color: white;

  --profile-color: black;
  /* Public Profile colors */
  --form-border-color: rgba(48, 155, 101, 0.2);
  --form-background-color: rgba(48, 155, 101, 0.1);
}
body {
  font-family: var(--secondary-font);
  background-color: var(--body-color);
  height: auto;
}

body.dark {
  /*? colors */
  --primary-color: rgb(255, 165, 0);
  --primary-hover-color: rgba(255, 165, 0, 0.8);
  --secondary-color: rgba(255, 255, 255, 0.87);
  --tertiary-color: white;
  --tertiary-extra-color: black;
  /*? specific colors */
  --body-color: #18191a;
  --header-color: #242526;
  --side-nav: #242526;
  --auth-form-color: transparent;
  --auth-form-border-color: rgb(98, 96, 96);
  --auth-form-padding: 0.5rem 0rem;
  --link-color: rgb(255, 165, 0);
  --reverse-black-white-color: black;
  --nav-profile-box-color: #ccc;

  /* Profile color */
  --profile-color: #ffffff;
  /* Public Profile colors */
  --form-border-color: rgba(255, 165, 0, 0.2);
  --form-background-color: transparent;
}

body.fixed-body {
  height: 100vh;
  overflow: hidden;
}

/* GLOBAL STYLES */
li {
  list-style: none;
}
a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}
