.publish {
  font-size: 0.9rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
  &:hover {
    background-color: var(--primary-hover-color);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: var(--primary-disabled-background-color);
    color: #eee;
  }
}
