.save-draft-button {
  color: var(--tertiary-color);
  background-color: transparent;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
  &:hover {
    color: var(--white-color);
    background-color: var(--primary-hover-color);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: var(--primary-disabled-background-color);
    color: #dbd8d8;
    border-radius: 0.3rem;
  }
}
